*bbl
*lol
*bcf
*blg
*out
*run.xml
*lof
*toc
*dvi
*lot
graphs/env
graphs/*gv
graphs/*pdf
proposal/*pdf
*pycache*/
py/env/
*svg
*aux
*gz
*log
*op2
*f06
*f04
*log
*mon1
*bak
*dwl
*dwl2
*bak
*~lock*
*fdb_latexmk
*fls
*pdf
